<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <!-- You can fill in your database properties here later -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibProj</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>
<!--        <property name="hibernate.hbm2ddl.auto">update</property> -->
<!--            using create instead of update : create always drops and creates new-->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
<!--        To Show SQL Queries -->
        <property name="hibernate.format_sql">true</property>
<!--        To visualize the query in formated way-->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
<!--        to select Dialect its Optional as we have different query formate in different sql like somewhere text : varchar etc-->

    </session-factory>
</hibernate-configuration>
